{% load static %}
{% include 'base.html' %}
{% block content %}
    <div id="content">
        <!-- begin featured -->
        <div id="featured">
            <div class="post">
                <h2><a href="#">Top 10 Make Money Online Tips for 2009</a></h2>
                <p class="details"> JUN 10 2009 | <a href="#">ChiQ Montes</a> | <a href="#">Advertising</a> | <a
                        href="#">3 Comments</a></p>
                <div class="thumb"><a href="#"><img src="images/_featured.jpg" alt=""/></a></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat.
                    Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque
                    enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit
                    feugiat. Ut vel orci quis sem dapibus iaculis.</p>
                <p class="readmore">[ <a href="#">read more</a> ]</p>
                <p class="tags">TAGS: <a href="#">money</a>, <a href="#">currency</a>, <a href="#">product</a></p>
                <div class="break"></div>
            </div>
            <div class="post">
                <h2><a href="#">Top 10 Make Money Online Tips for 2009</a></h2>
                <p class="details"> JUN 10 2009 | <a href="#">ChiQ Montes</a> | <a href="#">Advertising</a> | <a
                        href="#">3 Comments</a></p>
                <div class="thumb"><a href="#"><img src="images/_featured.jpg" alt=""/></a></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi quis risus at nisl blandit feugiat.
                    Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque
                    enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit
                    feugiat. Ut vel orci quis sem dapibus iaculis.</p>
                <p class="readmore">[ <a href="#">read more</a> ]</p>
                <p class="tags">TAGS: <a href="#">money</a>, <a href="#">currency</a>, <a href="#">product</a></p>
                <div class="break"></div>
            </div>
        </div>
        <!-- end featured -->
        <!-- begin recent posts -->
        <div class="recent ">
            {% for x in news %}
            <!-- begin post -->
            <div class="o post"><a href="{% url 'project_news_detail' x.pk %}">
                <img style="margin-left:100px;height:500px" src="{{ x.image.url }}" alt=""/>
            </a>
                <h2><a href="#">{{ x.title }}</a></h2>
                <p>{{ x.description | slice:":200" }} ...</p>
                <p class="readmore">[ <a href="{% url 'project_news_detail' x.pk %}">read more</a> ]</p>
                <div class="break"></div>
            </div>

            {% endfor %}
            <!-- end post -->
        </div>
        <!-- end recent posts -->
    </div>
    <!-- END content -->
    <!-- BEGIN sidebar -->
    <div id="sidebar">
        <!-- begin sponsors -->
        <div class="box">
            <p class="sponsors"><a href="#"><img src="images/ad125x125.jpg" alt=""/></a> <a href="#"><img
                    src="images/ad125x125.jpg" alt=""/></a></p>
            <ul class="bookmarks">
                <li class="rss"><a href="#">Subscribe via RSS feed</a></li>
                <li class="twt"><a href="#">Follow me on Twitter</a></li>
                <li class="fcb"><a href="#">Connect with me on Facebook</a></li>
                <li class="ldi"><a href="#">Connect with me on LinkedIn</a></li>
            </ul>
        </div>
        <!-- end sponsors -->
        <!-- begin popular posts -->
        <div class="box">
            <h2>Popular Posts</h2>
            <ul class="popular">
                <li><a href="#">Top 10 Ways to Make Money Online</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..</p>
                </li>
                <li><a href="#">Top 10 Ways to Make Money Online</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..</p>
                </li>
                <li><a href="#">Top 10 Ways to Make Money Online</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..</p>
                </li>
            </ul>
        </div>
        <!-- end popular posts -->
        <!-- begin flickr images -->
        <div class="box">
            <h2>Flickr Images</h2>
            <div class="flickr"><a href="#"><img src="images/_flickr.jpg" alt=""/></a> <a href="#"><img
                    src="images/_flickr.jpg" alt=""/></a> <a href="#"><img src="images/_flickr.jpg" alt=""/></a> <a
                    href="#"><img src="images/_flickr.jpg" alt=""/></a> <a href="#"><img src="images/_flickr.jpg"
                                                                                         alt=""/></a> <a href="#"><img
                    src="images/_flickr.jpg" alt=""/></a></div>
        </div>
        <!-- end flickr images -->
        <!-- begin featured video -->
        <div class="box">
            <h2>Featured Video</h2>
            <div class="video"><img src="images/_video.jpg" alt=""/></div>
        </div>
        <!-- end featured video -->
        <!-- begin tag cloud -->
        <div class="box">
            <h2>Tag Cloud</h2>
            <div class="tags"><a href="#">Link</a></div>
        </div>
        <!-- end tag cloud -->
        <!-- BEGIN left -->
        <div class="l">
            <!-- begin categories -->
            <div class="box">
                <h2>Categories</h2>
                <ul>
                    <li><a href="#">Advertising</a></li>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Gadgets</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Networking</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Sports</a></li>
                </ul>
            </div>
            <!-- end categories -->
            <!-- begin meta -->
            <div class="box">
                <h2>Meta</h2>
                <ul>
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Valid XHTML</a></li>
                </ul>
            </div>
            <!-- end meta -->
        </div>
        <!-- END left -->
        <!-- BEGIN right -->
        <div class="r">
            <!-- begin archives -->
            <div class="box">
                <h2>Archives</h2>
                <ul>
                    <li><a href="#">June 2009</a></li>
                    <li><a href="#">May 2009</a></li>
                    <li><a href="#">April 2009</a></li>
                    <li><a href="#">March 2009</a></li>
                    <li><a href="#">February 2009</a></li>
                </ul>
            </div>
            <!-- end archives -->
            <!-- begin blogroll -->
            <div class="box">
                <h2>Blogroll</h2>
                <ul>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Suggest Ideas</a></li>
                    <li><a href="#">Support Forum</a></li>
                </ul>
            </div>
            <!-- end archives -->
        </div>
        <!-- END right -->
    </div>
    <!-- END sidebar -->
    </div>

{% endblock %}