{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Projects</h1>
    <div class="row">
        {% for x in news %}
            <div class="card" style="width: 18rem;">
                <img src="{{ x.image.url }}" class="card-img-top h-25" alt="...">
                <div class="card-body">
                    <h4 class="card-title"> {{ x.title }}</h4>
                    <p class="card-text">{{ x.description | slice:":100" }}</p>
                </div>
                <a href="{% url 'project_news_detail' x.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}